Common/LegacyXML/mp-reject.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MPReject">
    <xs:complexType>
      <xs:sequence>
		  <xs:element name="ErrorCode" type="xs:string"/>
		  <xs:element name="ErrorDescription" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
